<!DOCTYPE html>
<html lang="en">
  <head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
<nav>
  <a href="/munderDifflin/quotes">View All Quotes!!</a> 
  <a href="/quotes">My Quotes</a>
  <% if (user) { %>
  <a href="/logout">LOG OUT</a>
  <% } else { %>
    <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
    <% } %>

</nav>