<%- include('./partials/header') %>
<%- include('./partials/footer') %>

<body class="welcomeBody">
<h2 class="welcome">Welcome to Munder Difflin!!</h2>
<p class="pgraph">In case you couldn't tell, this name is a complete ripoff of the comedy TV show "The Office," where the name of their company is called Dunder Mifflin.</p>
<p class="pgraph">The point of this website is to capture some of the quotes that characters in the show have said.</p>
<p class="pgraph">The best part is that you can find your favorite quote and save it to your account!!!</p>
</body>
