<!DOCTYPE html>
<html>
<head>
    <title>Quotes</title>
</head>
<body>
    <h1>Quotes</h1>
    <ul>
        <% quotes.forEach((quote, index) => { %>
            <li>
                <strong><%= quote.name %>:</strong>
                <%= quote.quote %>
                <button id="favorite"></button>
            </li>
                <form method="POST" action="/quotes">
                    <input type="hidden" name="name" value="<%= quote.name %>">
                    <input type="hidden" name="quote" value="<%= quote.quote %>">
                    <button type="submit">SAVE</button>
                </form>
        <% }); %>
    </ul>
</body>
</html>



